*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}

section{
    background: #222222;
}

.navbar-separator{
    height: 60px;
}

.home-provide{
    width: 100%;
    padding: 10px 10px 30px 10px;
    height: auto;
    background-color: #222222;
}

.canvas-image{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.img-provide{
    height: 240px;
    width: 360px;
}

@media screen and (max-width: 720px) {
    #img-val{
        max-width: 200px;
    }
}

@media screen and (max-width: 1200px) {
    .canvas-image{
        flex-direction: column;
    }

    .img-provide{
        height: 200px;
        width: 320px;
        margin: 20px 0;
    }
    
}

.title-frame{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {
    .title-frame{
        text-align: center;
    }
}

#provide{
    
}

.value-home{
    display: block;
    height: auto;
    width: 100%;
    padding: 10px;
}

.home-value{
    display: block;
    height: auto;
}

.canvas-value{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 14px;
}

.value-title{
    font-size: 16px;
    font-weight: 600;
}

.value-text{
    font-size: 12px;
}

@media screen and (max-width: 720px) {
    .home-value{
        display: flex;
        flex-flow: row wrap;
    }

    .canvas-value{
        align-items: center;
        margin: auto;
    }

    #img-val{
        width: 200px;
    }

    .value-title{
        font-size: 10px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    
    .value-text{
        font-size: 10px;
    }
}

.separator{
    width: 100%;
    height: 2px;
    background: #ffffff;
}

.home-highlight{
    background-color: #7B7B7B;
    padding: 10px;
    width: 100%;
    height: auto;
    
}

.img-highlight{
    width: 100%;
    height: 360px;
    margin: 6px;
}

#highlight-home{
    padding-bottom: 16px;
}

.home-brand{
    height: 260px;
    width: 100%;
}

.img-socmed{
    width: 25px;
    display: inline;
    align-items: center;
}

#yt{
    width: 28px;
    height: 25px;
}

footer{
    background: #7B7B7B;
}

.canvas-footer{
    display: flex;
    justify-content: space-around;
}

.address, .contact, .social-media{
    display: block;
}

.social-media{
    width: 20%;
}

.address-content{
}

#socmed-t{
    justify-content: center;
}

.socmed-icon{
    display: flex;
    justify-content: space-around;
}

.icon-socmed{

}

.contact-text{
}

.canvas-copyright{
    display: flex;
    width: 100%;
}

#copyright{
    color: #dfdfdf;
    font-size: 14px;
}

@media screen and (max-width: 980px) {
    .canvas-footer{
        flex-direction: column;
        align-items: center;
    }

    .address, .contact, .social-media{
        margin-left: auto;
        margin-right: auto;
    }

    .footer-title{
        display: flex;
        align-items: center;
    }

    .address-content{
        text-align: center;
    }

    #copyright{
        margin-top: 20px;
    }
}

.service{
    height: auto;
}

.canvas-service{
    width: 100%;
    height: 520px;
}

#caraudio, #soundproofing{
    
}

#autodetailing, #carwash{

}

.service-text{

}

.service-highlight{
    width: 100%;
    height: auto;
    background: #B0B0B0;
}

.canvas-service-highlight{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding: 6px 0;
}

.brands-partner{
    width: 100%;
    height: auto;
    background: #222222;
}

.canvas-brands{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 10px 40px;
}

.brands-img{
    width: 300px;
    margin: 10px 40px;
}

.gallery-category-canvas{
    width: 100%;
    display: flex;
    height: auto;
    background: #222222;
    justify-content: space-around;
}

.gallery-category{
    display: flex;
    text-align: center;
    padding: 40px 0;
}

.gallery-canvas{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 40px 40px;
}

.gallery-li > a{
    margin-right: 40px;
    margin-left: 40px;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 720px) {
    .gallery-canvas{
        padding: 0 0;
    }
    .gallery-li > a{
        margin: 0;
    }
}

.gallery-ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

#gal-category{
    padding-left: 0;
    margin-top: 1rem;
}

.gallery-li > a:hover{
    color: #ffe600;
}

.gallery-item{
    margin: 20px 0;
    text-decoration: none;
}

.gallery-image{
    width: 100%;
    height: auto;
    align-items: center;
}

.gal-img{
    width: 380px;
}

.gal-cat-title{
    color: white;
    font-size: 18px;
}